@use "abstract/variables" as v;
@use "sass:map";

@mixin flex($align, $justify, $direction, $gap: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;

  @if $gap != null {
    gap: $gap;
  }
}

@mixin media-query($key) {
  $size: map.get(v.$breakpoints, $key);
  @media screen and (max-width: $size) {
    @content;
  }
}
