<header>
  <div class="header-content">
    <div class="logo-wrapper light">
      <a
        routerLink="/hem"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <img
          src="sundsvall_universitet_logga_light.svg"
          alt="Sundsvall universitet logga"
        />
      </a>
    </div>
    <div class="logo-wrapper dark">
      <img
        src="sundsvall_universitet_logga_dark.svg"
        alt="Sundsvall universitet logga"
      />
    </div>
    <nav>
      <ul>
        <li>
          <a
            mat-button
            routerLink="/hem"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Hem</a
          >
        </li>
        <li>
          <a
            mat-button
            routerLink="/kurser"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Kurser</a
          >
        </li>
        <li>
          <a
            mat-button
            routerLink="/mitt-ramschema"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Mitt ramschema</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
