<header>
  <div class="header-content">
    <div class="logo-wrapper">
      <a
        routerLink="/hem"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <img [src]="logoSrc()" alt="Sundsvall universitet logga" />
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a
            mat-button
            routerLink="/hem"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Hem</a
          >
        </li>
        <li>
          <a
            mat-button
            routerLink="/kurser"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Kurser</a
          >
        </li>
        <li>
          <a
            mat-button
            routerLink="/mitt-ramschema"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Mitt ramschema</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
