<footer>
  <div class="footer-content">
    <div class="logo-wrapper">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img
          src="sundsvall_universitet_logga_symbol.svg"
          alt="Sundsvall universitet logga"
        />
      </a>
    </div>
    <p class="copyright">© Sundsvall universitet</p>
    <ul>
      <li>
        <a
          href="https://www.youtube.com/watch?v=eRBOgtp0Hac&ab_channel=carfreak0801"
          ><img class="facebook" src="facebook-icon.svg" alt="Facebook icon"
        /></a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=eRBOgtp0Hac&ab_channel=carfreak0801"
          ><img class="instagram" src="instagram-icon.svg" alt="Instagram icon"
        /></a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=eRBOgtp0Hac&ab_channel=carfreak0801"
          ><img class="youtube" src="youtube-icon.svg" alt="Youtube icon"
        /></a>
      </li>
    </ul>
  </div>
</footer>
